*.rbc
.rspec
/backend/log
/backend/tmp
/backend/public/uploads
/backend/public/system
/backend/public/assets
/backend/spec/tmp
**.orig

# Ignore bundler config.
/backend/.bundle

# Ignore the default SQLite database.
/backend/db/*.sqlite3
/backend/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/backend/log/*
!/backend/log/.keep
/backend/tmp

# Ignore files from postgres in docker
/backend/data

# TODO Comment out these rules if you are OK with secrets being uploaded to the repo
backend/config/initializers/secret_token.rb
backend/config/secrets.yml

## Environment normalisation:
/backend/.bundle
/backend/vendor/bundle

# these should all be checked in to normalise the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
backend/.rvmrc


# Ignore pow environment settings
backend/.powenv
backend/.env
backend/.env.development
backend/.env.production
backend/dump.rdb

.DS_Store

gif*.gif

# Ignore byebug log
.byebug_history

backend/db/schema.rb
backend//db/schema.rb

# See https://help.github.com/ignore-files/ for more about ignoring files.

frontend/src/**/*.css

# dependencies
frontend/node_modules


# production
frontend/build
frontend/public/dist

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

